{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('css/index.css') }}" type="text/css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" type="text/javascript"></script>
{% end %}

{% block bottom %}
<script type="text/javascript" src="{{ static_url('js/index.js') }}"></script>
{% end %}

{% block body %}
<div class="container">
    <p class="title-top">
        <h1 class="title">Dynamic Programming Simulator</h1>
    </p>
    <div id="app">
        <li v-for= "user in users"
            v-text="user.name" >
        </li> 
        <button class="Hello Button" @click="appendHelllo()">Button</button>
        <li v-for= "item in hello"
            v-text="item" >
        </li>
    </div>
</div> 
{% end %}